/*body {*/
    /*padding-top: 70px;*/
/*}*/
/*:target:before {*/
    /*display: block;*/
    /*content: " ";*/
    /*margin-top: -70px;*/
    /*height: 70px;*/
    /*visibility: hidden;*/
/*}*/
body{
    background-color: #ddc3f8;
    width: 100%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.navbar.navbar-default{
    border-color: #5C5C5C;;
}
.container-fluid{
    background-color: #ffd9fd;

}
.row .row{
    background-color: #ffecf9;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #e7e7e7;
}
#A:link{
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: #777;
}
#A:visited {
    text-decoration: none;
    color: #777;
    font-family: 'Josefin Sans', sans-serif;
}
#A:active {
    text-decoration: none;
    color: #777;
    font-family: 'Josefin Sans', sans-serif;
}
/*#A:hover{*/
    /*font-family: 'Josefin Sans', sans-serif;*/
    /*color: #a34751;*/
/*}*/


/*place list styles*/


#heads{
    color: #5C5C5C;
    font-size: xx-large;
}
#descrip{
    color: #929292;
    font-size: large;
}
#cost{
    border-style: none;
    color: #c384ff;
    font-size: xx-large;
    text-align: center;
}
#cost a:hover{
    color: #a34751;
    font-family: 'Josefin Sans', sans-serif;
}
#cost a:visited{
    text-decoration: none;
    color: #c384ff;
    font-family: 'Josefin Sans', sans-serif;
}
#cost a:active{
    text-decoration: none;
    color: #c384ff;
    font-family: 'Josefin Sans', sans-serif;
}
#cost a:link{
    text-decoration: none;
    color: #c384ff;
    font-family: 'Josefin Sans', sans-serif;
}