<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="https://fonts.googleapis.com/css?family=Spectral+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Классы navbar и navbar-default -->
<nav class="navbar navbar-default navbar-static-top" style="position: -webkit-sticky; position: sticky; top: 0;">
    <!-- Контейнер -->
    <div class="container-fluid">
        <!-- Заголовок -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}"><i class="fas fa-home fa-lg">Sweet home</i></a>
        </div>
        <!-- Основная часть меню -->
        <div class="collapse navbar-collapse" id="navbar-main">

            <!-- Содержимое основной части -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'place_list' %}">Placements</a></li>
                <li><a href="{% url 'flat_list' %}">Flats</a></li>
                <li><a href="{% url 'house_list' %}">Houses</a></li>
                <li><a href="{% url 'room_list' %}">Rooms</a></li>
                {% if user.is_authenticated %}<li><a href="{% url 'profile' %}">Profile</a></li>{% endif %}
                {% if user.is_authenticated %}<li><a href="{% url 'contract_list' %}">My contracts</a></li>{% endif %}
                <li>{% if user.is_authenticated %}<a href="{% url 'logout' %}">Logout</a>{% else %}<a href="{% url 'login' %}"> Login</a>{% endif %}</li>
            </ul>

        </div>
    </div>
</nav>

{% block content %}
<div class="row">
    <div class="row">
        <a href="{% url 'place_list' %}" class="ppp"><div style="font-size: 500px" id="ic">
            <i class="fas fa-home fa-lg"></i>
            <p id="heads">Press to start</p>
        </div></a></div></div>
{% endblock %}
</body>
</html>