{% extends 'site_app/index.html' %}
{% load static %}

{% block content %}
<div class="row" id="room_div">
    <div class="row">
        <div class="row"id="bor">
            <p id="room_head">{{room.heading}}</p>
        </div>
        <div class="row" id="bor">
            <img src="{{ room.image.url }}" id="one_pic">
        </div>
        <div class="row" id="bor">
            <p id="desc">Описание:</p><br>
        <p class="other">{{room.description}}</p><br>
        <p id="desc">Особенности:</p><br>
        <p class="other">Район:{{room.district}}</p><br>
        <p class="other">Цена:{{room.cost}}</p><br>
        <p class="other">Статус:{{room.is_free}}</p><br>
        <p class="other">Дата окончания текущей аренды:{{room.end_date}}</p><br>
        <p class="other">Метраж:{{room.size}}</p><br>
        <p class="other">Этаж:{{room.floor}}</p><br>
        <p class="other">Лифт:{% if room.elevator %} есть {% else %} нет {% endif %}</p><br>
        </div>
    </div>
</div>
{%endblock%}